body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

img {
  line-height: 0;
  display: block;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}
