:root {
  --first-review: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  --second-review: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  --third-review: linear-gradient(
    143deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  --accent: #8e32c6;
  --header-bg: #012d63;
  --footer-bg: #021635;
  --light: #ffffff;
  --reviews-caption: #d8d8d8;
  --menu-color: #c7c7c7;
  --footer-line: #9b9b9b;
  --order-placeholder: #959595;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

*::selection {
  background-color: var(--accent);
  color: var(--light);
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  outline: dashed red 3px;
}

.header {
  background-color: var(--header-bg);
  padding: 23px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
}

.header-icon {
}

.header-list {
  display: flex;
  gap: 29px;
  margin-left: 164px;
}

.header-item {
}

.header-link {
  color: var(--menu-color);
  font-size: 24px;
  font-weight: 300;
  transition: color 0.4s;
}

.header-link:hover,
.header-link:focus {
  color: var(--light);
  font-weight: 400;
}

.header-langs {
  margin-left: auto;
  display: flex;
  gap: 11px;
}

.header-lang {
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.header-lang:nth-child(2) {
  font-weight: 400;
}

.main {
}

.hero {
  padding-top: 209px;
  padding-bottom: 183px;
  background-image: url(../imgs/hero-bg.webp);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 123px;
}

.hero-logo {
}

.hero-text {
  color: var(--light);
  font-family: PT Serif;
  font-size: 48px;
  font-weight: 400;
  margin-top: -11px;
}

.hero-title {
  color: var(--light);
  font-family: Playfair Display;
  font-size: 144px;
  font-weight: 400;
  margin-top: -26px;
}

.hero-subtitle {
  color: var(--light);
  font-family: Playfair Display;
  font-size: 72px;
  font-weight: 400;
  margin-top: -34px;
}

.hero-descs {
  width: 503px;
  margin-top: 12px;
  margin-bottom: 41px;
}

.hero-desc {
  color: var(--light);
  font-size: 18px;
  font-weight: 400;
}

.hero-link {
  display: block;
  padding: 19.5px 61.5px;
  background-color: var(--accent);
  width: max-content;
  border-radius: 10px;
  color: var(--light);
  font-size: 24px;
  font-weight: 400;
  transition: background-color 0.4s, color 0.4s;
}

.hero-link:hover,
.hero-link:focus {
  background-color: #5e1888;
  color: var(--menu-color);
}

.advans {
  background-image: url(../imgs/advans-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 105px 0;
}

.container {
}

.advans-title {
}

.advans-list {
  display: flex;
  border: var(--accent) solid 5px;
  padding: 20px 45px;
}

.advans-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.advans-item:nth-child(1) {
  padding-right: 50px;
  border-right: 1px var(--light) solid;
}

.advans-item:nth-child(2) {
  padding: 0 94px;
  flex-direction: column-reverse;
}

.advans-item:nth-child(3) {
  padding-left: 50px;
  border-left: 1px var(--light) solid;
}

.advans-subtitle {
  height: 102px;
  width: 151px;
  color: var(--light);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
}

.advans-img {
}
